@keyframes around {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes zoom {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1.0);
  }
}

@keyframes marquee-text {
  0% {
    transform: translateX(200%);
  }

  100% {
    transform: translateX(-200%);
  }
}

* {
  scroll-behavior: smooth;
}

.body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

.button {
  cursor: pointer;
  background: transparent;
  border: transparent;
}

.link {
  text-decoration: none;
}

.logo {
  width: 150px;
  height: 49px;
  cursor: pointer;
}



.header__container {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  z-index: 2;
}

.header__container-button {
  display: block;
}

@media screen and (max-width: 1240px) {
  .header__container-button {
    display: flex;
    gap: 20px;
  }
}

.header {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1240px) {
  .header {
    margin: 0 20px;
  }
}

.header__links {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  gap: 25px;
}

@media screen and (max-width: 940px) {
  .header__links {
    display: none;
  }
}

.header__link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  transition: all 0.3s ease-in-out;
}

.header__link:hover {
  box-shadow: inset 100px 0 0 0 #4066b9;
  color: white;
}

.header__button {
  width: 220px;
  height: 40px;
  background: #292A2E;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  transition: 1s ease-in-out;
}

.header__button:hover {
  background: #11365c;
}

@media screen and (max-width: 540px) {
  .header__button {
    display: none;
  }
}

.header__burger {
  display: none;
  width: 40px;
  height: 40px;
  background: #292A2E;
  border: transparent;
  border-radius: 5px;
  background-image: url("../../images/icon/burger.svg");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  cursor: pointer;
}

@media screen and (max-width: 940px) {
  .header__burger {
    display: block;
  }
}


.runString {
  background-color: #011cae;
  height: 50px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.runString__text {
  margin: 0 auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
  animation: marquee-text 10s infinite linear;
}


.offer__container {
  background: #f8fbff;
  background-position: center;
  max-height: 570px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.offer {
  margin: 0 auto;
  padding-top: 100px;
  max-width: 1200px;
  min-height: 350px;
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 1240px) {
  .offer {
    margin: 0 20px;
  }
}

.offer__content {
  max-width: 486px;
  min-height: 331px;
}

.offer__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #000000;
}

@media screen and (max-width: 540px) {
  .offer__title {
    font-size: 30px;
    line-height: 41px;
  }
}

.offer__title span {
  color: #006DF0;
  position: relative;
  opacity: 1;
}

.offer__title span.hide {
  transition: opacity linear 0.5s;
  opacity: 0;
}

@media screen and (max-width: 540px) {
  .offer__title span::after {
    max-width: 108px;
    height: 29px;
    top: 30px;
  }
}

.offer__description {
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.offer__button {
  width: 300px;
  height: 60px;
  background: #292A2E;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  transition: all 0.5s;
}

.offer__button:hover {
  background: #11365c;
}

.offer__image {
  object-fit: contain;
  animation: zoom 1s infinite alternate;
}

@media screen and (max-width: 1040px) {
  .offer__image {
    max-width: 950px;
  }
}

@media screen and (max-width: 940px) {
  .offer__image {
    display: none;
  }
}



.service {
  margin: 100px auto 0 auto;
  max-width: 1200px;
  min-height: 503px;
}

@media screen and (max-width: 1240px) {
  .service {
    margin: 100px 20px 0 20px;
  }
}

.service__title {
  margin: 0;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #6F6F6F;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #191B1E;
}

.cards {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
  justify-content: center;
}

.service__card {
  max-width: 350px;
  min-height: 412px;
  background: linear-gradient(90deg, #7B35EC 0%, #AF3670 100%);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.service__title-card {
  margin: 30px 20px 0px 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.service__description {
  margin: 15px 50px 0px 50px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;

  padding-bottom: 10px;
  border-bottom: 1px solid rgba(213, 159, 206, 0.5);
}

.service__time {
  margin: 20px 20px 5px 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #D59FCE;
}

.service__price {
  margin: 0px 20px 15px 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.service__button {
  margin: 0 auto;
  display: block;
  width: 220px;
  height: 40px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #A33EAA;
}



.skills__title {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px dashed #6F6F6F;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #191B1E;
}

.skills {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 1200px;
}

@media screen and (max-width: 1240px) {
  .skills {
    margin: 0 20px 0 20px;
  }
}

.skills__cards {
  margin: 0;
  margin-top: 10px;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.skills__card {
  width: 230px;
  min-height: 120px;
  background: #F8F8F8;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

@media screen and (max-width: 440px) {
  .skills__card {
    margin-bottom: 20px;
  }
}

.skills__image {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 5px;
}

.skills__subtitle {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 12px;
  text-align: center;
  color: #000000;
}

.skills__description {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  text-align: center;
  color: #000000;
}


.example__container {
  background: #F7F7F7;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.example {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 1200px;
  min-height: 397px;
}

@media screen and (max-width: 1240px) {
  .example {
    margin: 0 20px 0 20px;
  }
}

.example__card {
  max-width: 350px;
  min-height: 306px;
}

.example__image {
  margin-bottom: 5px;
}

.example__link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #367CFF;
}

.example__description {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.example__title {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}



.advantages__container {
  min-height: 935px;
  background: #191B1E;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.advantages {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 1200px;
  min-height: 735px;
}

@media screen and (max-width: 1240px) {
  .advantages {
    margin: 0 20px;
  }
}

.advantage__title {
  margin: 0;
  margin-bottom: 50px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #FFFFFF;
}

@media screen and (max-width: 540px) {
  .advantage__title {
    font-size: 30px;
  }
}

.advantages__cards {
  gap: 50px 165px;
}

.advantage__card {
  max-width: 450px;
  min-height: 287px;
}

.advantage__image {
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
}

.advantage__card-title {
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
}

.advantage__descrioption {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}



.contact {
  margin: 100px auto;
  max-width: 1200px;
  min-height: 670px;
  background: #F3F7FE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 1240px) {
  .contact {
    margin: 100px 20px;
  }
}

.contact__info {
  margin: 10px;
  padding: 40px;
  max-width: 420px;
  min-height: 650px;
  background: #000000;
  border-radius: 10px;
}

.contact__title {
  margin: 0 0px 10px 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #FFFFFF;
}

@media screen and (max-width: 540px) {
  .contact__title {
    font-size: 30px;
  }
}

.contact__description {
  margin: 0px 0px 78px 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #C9C9C9;
}

@media screen and (max-width: 540px) {
  .contact__description {
    font-size: 18px;
  }
}

.contact__cards {
  margin: 0 0 53px 0;
  padding-left: 0px;
  list-style: none;
  gap: 54px;
  display: flex;
  flex-direction: column;
}

.contact__card {
  display: flex;
  align-items: center;
}

.contact__icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.contact__card-description {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.contact__container {
  margin: 0;
  max-width: 455px;
  height: 277px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contact__buttons {
  margin: 0 43px 0 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact__button-wa {
  width: 200px;
  height: 55px;
  background: #121E0B;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: capitalize;
  color: #3BC95A;
  transition: all 0.5s;
}

.contact__button-wa:hover {
  color: #20ff51;
}

.contact__button-tg {
  width: 200px;
  height: 55px;
  background: #0B1A1E;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: capitalize;
  color: #27A8F0;
  transition: all 0.5s;
}

.contact__button-tg:hover {
  color: #8fd7ff;
}

.contant__cicrcle {
  max-width: 175px;
  animation: around 1s linear infinite;
}

.contact__image {
  margin-right: 50px;
  max-width: 581px;
  min-height: 504px;
}

@media screen and (max-width: 1240px) {
  .contact__image {
    max-width: 400px;
  }
}

@media screen and (max-width: 1040px) {
  .contact__image {
    display: none;
  }
}

.contact__cards1 {
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
  display: flex;
  gap: 15px;
  max-width: 400px;
  flex-wrap: wrap;
}

.contact__card1 {
  padding: 15px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  background: #FFF;
  border-radius: 10px;
  margin: 0 auto;
  justify-content: center;
}

.contact__subtitle {
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 12px;
  text-align: center;
  color: #000000;
}

.contact__desc {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}



.footer__container {
  background: #191B1E;
  min-height: 60px;
  display: flex;
  align-items: center;
}

.footer {
  margin: 0 auto;
  max-width: 1200px;
}

@media screen and (max-width: 1240px) {
  .footer {
    margin: 0 20px;
    gap: 10px;
  }
}

.footer__title {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  color: #6F6F6F;
}



.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  visibility: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s linear;
}

.popup__group {
  padding: 24px;
  box-sizing: border-box;
  max-width: 500px;
  background: #FFFFFF;
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.1), 0px 8px 8px -4px rgba(16, 24, 40, 0.04);
  border-radius: 12px;
  position: relative;
}

@media screen and (max-width: 540px) {
  .popup__group {
    max-width: 272px;
  }
}

.popup__close {
  background: url("../../images/icon/popup-close.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  border: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.popup__title {
  margin: 0;
  margin-bottom: 52px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #101828;
  max-width: 420px;
  word-wrap: break-word;
}

@media screen and (max-width: 540px) {
  .popup__title {
    font-size: 18px;
  }
}

.popup__button-wg {
  margin-bottom: 12px;
  width: 452px;
  height: 68px;
  background: #498E58;
  background-image: url("../../images/icon/popup-wa.svg");
  background-repeat: no-repeat;
  background-size: 32px;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: 75px;
}

@media screen and (max-width: 540px) {
  .popup__button-wg {
    width: 224px;
    height: 50px;
    font-size: 14px;
    background-size: 24px;
    background-position: 5px;
  }
}

.popup__button-tg {
  width: 452px;
  height: 68px;
  background: #64A6F8;
  background-image: url("../../images/icon/popup-tg.svg");
  background-repeat: no-repeat;
  background-size: 32px;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: 75px;
}

@media screen and (max-width: 540px) {
  .popup__button-tg {
    width: 224px;
    height: 50px;
    font-size: 14px;
    background-size: 24px;
    background-position: 5px;
  }
}



.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  visibility: hidden;
  justify-content: right;
  align-items: unset;
  display: flex;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s linear;
  z-index: 3;
}

@media screen and (min-width: 940px) {
  .menu {
    display: none;
  }
}

.menu_opened {
  opacity: 1;
  visibility: visible;
}

.menu__group {
  padding: 24px;
  box-sizing: border-box;
  max-width: 500px;
  background: #FFFFFF;
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.1), 0px 8px 8px -4px rgba(16, 24, 40, 0.04);
  /* border-radius: 10px 0 0 10px; */
  position: relative;
}

.popup_opened {
  opacity: 1;
  visibility: visible;
}
